* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  width:100%;
  height:100%;
}
.app{
  display:flex; 
  flex-direction:column;
}
.tool-bar{
    margin:0;
    padding:0;
    width:100%;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 10fr;
}
.hamburger{
height: 100%;
width:100%;
background-color: lightcoral;
display:flex;
justify-content: center;
align-items: center;
}
.opener{
  width:3rem;
  height:3rem;
  background-color: white;
  border-radius: 50%;
  padding:1px;
  cursor: pointer;
}
.tool-panel{
height:100%;
width:100%;
background-color: lightcoral;
display: flex;
flex-flow:row wrap;
justify-content:center;
align-items:center;
}
.tool{
height: 4rem;
width:4rem;
margin:0px 2px 0px 2px;
}
.tool-img{
    height: 80%;
}
.tool-options{
    background: yellow;
    height: 6rem;
    width: 9rem;
    display: none;
}
.slider{
    height: 38%;
    border: 1px solid;
}
.colors{
    height: 62%;
    background: gainsboro;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.color{
    height: 63%;
    width: 26%;
    border-radius: 50%;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;

}
.green{
    background-color: green;
}
.show{
    display: block;
}
.stickyPad{
    height: 14rem;
    width: 14rem;
    min-width:10rem;
    min-height: 10rem;
    /* different layer */
    /* align itself according to html page origin */
    position: absolute;
    top: 40vh;
    left: 30vw;
    background-color: tan;
    resize:both;
    overflow: auto;
}
.nav-bar{
    
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 11px;
}

.close,.minimize{
    height: 46%;
    width: 10%;
    margin-right: 5px;
    border-radius: 56%;
}
.close{
    background: red;
}
.minimize{
    background: green;
}

.textbox{
    height: 80%;
    width:100%;
}
.textbox textarea{
    height: 100%;
    width: 100%;
}
.upload-img{
    height:100%;
    width:100%
}
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  #record-video {
    height: 3.5rem;
    width: 3.5rem;
    margin:0px 2px 0px 2px;
    border-radius: 50%;
    border: 5.5px solid white;
    background: black;
  }
  
  #click-picture {
    height: 3.5rem;
    width: 3.5rem;
    margin:0px 2px 0px 2px;
    border-radius: 50%;
    border: 5.5px solid white;
    background: black;
  }
  
  .video-container {
    height: 25vh;
    width: 20vw;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    right:0px;
    background-color: black;
  }
  
  .slides{
    position:absolute;
    width:9%;
    height:100%;
    gap:1.1rem;
    grid-template-columns:1fr;
    background:grey;
    overflow-y: auto;
    display:none;
    animation: smooth-slide-in 0.5s ease;
    transition: transform 0.5s ease;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
   
  @keyframes smooth-slide-in {
    0%{
      transform:translateX(-100%);
    }
    100%{
      transform: translateX(0);
    }
  }

  /* .slides div{
    display:flex;
    justify-content: center;
    align-items: center;
    height:5rem;
  } */
  .slide{
    width:6rem;
    height:5rem;
    margin:auto;
    margin-top:1rem;
    background-color: white;
  }
  .active-slide{
    background-color: rgb(78, 77, 77);
  }
  .grid-show{
    display:grid;
  }
  video {
    height: 100%;
    width: 100%;
    object-fit:cover;
  }

  #record-div,
  #click-div {
    height: 70%;
    width: 80%;
    margin: auto;
    border-radius: 50%;
  }
  
  #record-div {
    background: red;
  }
  
  #click-div {
    background: white;
  }
  
  .recording-animation {
    animation: shrinkInOut 0.8s infinite;
  }
  
  .capture-animation {
    animation: shrinkInOut 1s;
  }
  
  @keyframes shrinkInOut {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .filter-container {
    border: 1px solid white;
    top: 12vh;
    height: 60vh;
    width: 5.5vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 5.3vw;
  }
  
  .filter {
    border: 1px solid white;
    height: 20%;
    background: url(https://images.unsplash.com/photo-1591526038358-0e3d334fb8c0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=100);
    background-blend-mode: color-burn;
    background-size: cover;
  }
  
  #record-video,
  #click-picture,
  .filter-container {
    z-index: 3;
  }

  #record-video,
  #click-picture{
    cursor:pointer;
  }
  
  .zoom {
    z-index: 3;
    top: 12vh;
    height: 15vh;
    width: 4vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 5.3vw;
  }
  
  .zoom button {
    color: white;
    background-color: #222;
    border: none;
    outline: none;
    height: 50%;
    font-size: 3.5rem;
  }
  
  /* C5.2 */
  #gallery-button {
    height: 3.5rem;
    z-index: 2;
    width: 4rem;
    border: none;
    margin:0px 2px 0px 2px;
    outline: none;
    border-radius: 5px;
    background-color: #222;
    cursor:pointer;
    font-size: 1rem;
    color: white;
  }
  
  /* C6.2  */
  .gallery-delete-button,
  .gallery-download-button {
    border: none;
    height: 10%;
    display: block;
    color: white;
    font-size: 1.2rem;
    width: 100%;
  }
  
  /* C6.3  */
  .gallery-img-container img,
  .gallery-vid-container video {
    height: 80%;
    display: block;
    width: 100%;
  }
  
  /* C6.4  */
  .gallery-img-container,
  .gallery-vid-container {
    width: 25rem;
    background: white;
    height: 25rem;
    padding: 2rem;
    margin: 2rem;
  }
  
  /* C6.6  */
  .gallery-back {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: none;
    background: black;
    color: white;
    font-size: 1.5rem;
  }
  
  /* C6.7 */
  .gallery-delete-button {
    background: #d91d1d;
  }
  
  .gallery-download-button {
    background: #291e1e;
  }
  
  /* C7  */
  @media (max-width: 1024px) {
    .filter-container {
      width: 12.5vw;
    }
    .zoom {
      width: 4rem;
    }

    /* 
  
    #record-video {
      left: 25rem;
    }
    #click-picture {
      left: 35rem;
    } */
  }
  
  @media (max-width: 800px) {
    #record-video,
    #click-picture,
    .tool {
       height:2.5rem;
       width:2.5rem;
    }    

    #gallery-button{
      height:2.5rem;
      width:3.5rem;
      font-size: 0.7rem;
    }
  }

  @media (max-width: 600px) {
    .filter-container {
      height: 10vh;
      width: 85vw;
      flex-direction: row;
      left: 2vw;
    }
    .filter {
      height: 100%;
      width: calc(100% / 6);
    }
    .slides{
      width:12%;
    }

    
    /* #record-video,
    #click-picture {
      height: 4rem;
      width: 4rem;
      top: unset;
      right: unset;
    } 
     #click-picture {
      left: 10rem;
      bottom: 9vh;
      right: 12rem;
    }
    #record-video {
      left: 4rem;
      bottom: 9vh;
  
    }
  
    #gallery-button {
      width: 3rem;
      height: 3rem;
    } */
  
    .zoom {
      right: 0vw;
      width: 12vw;
    }
  }

  @media (max-width: 500px) {
    #record-video,
    #click-picture,
    .tool {
       height:1.8rem;
       width:1.8rem;
    }    

    #gallery-button{
      height:1.8rem;
      width:2.5rem;
      font-size:0.5rem;
    }
    .video-container {
      height: 20vh;
      width: 30vw;
    }
  }
 .timming{
  color:black;
  position:fixed;
  bottom:15vh;
  left:3vw;
  font-size:1.7rem;
  font-family: sans-serif;
  font-weight:600;
  display:none;
}
.timming-active{
  display: block;
} 